{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<div class="flex flex-col items-center mt-5">
    {% for message in app.flashes('success') %}
        <div class="mb-4 text-center text-white bg-green-500 p-2 rounded-lg">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="mb-4 text-center text-white bg-red-500 p-2 rounded-lg">
            {{ message }}
        </div>
    {% endfor %}
    <div class="w-full max-w-md px-8 py-6 bg-[#763538] text-white shadow-lg rounded-lg">
        <h1 class="text-xl font-semibold text-center mb-6">Réinitialisez votre mot de passe</h1>
        <form method="post">
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-white">Nouveau mot de passe</label>
                <input type="password" name="password" id="password" 
                       class="mt-1 block w-full border border-gray-300 rounded-md px-3 py-2 shadow-sm text-[#763538] focus:outline-none focus:ring-white focus:border-white" 
                       placeholder="Nouveau mot de passe" required>
            </div>
            <div class="mb-4">
                <label for="confirm_password" class="block text-sm font-medium text-white">Confirmez le mot de passe</label>
                <input type="password" name="confirm_password" id="confirm_password" 
                       class="mt-1 block w-full border border-gray-300 rounded-md px-3 py-2 shadow-sm text-[#763538] focus:outline-none focus:ring-white focus:border-white" 
                       placeholder="Confirmez le mot de passe" required>
            </div>
            <button type="submit" 
                    class="w-full py-2 px-4 bg-white text-[#763538] font-medium border border-white rounded-md hover:bg-[#9b4545] hover:text-white transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white">
                Réinitialiser
            </button>
        </form>
    </div>
</div>
{% endblock %}
