{# templates/your_page.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <section>
        {% include 'lieu/lieu_culturel.html.twig' with { 'lieux': lieux } %}
        {# {% include 'lieu/lieu_naturel.html.twig' %}
        {% include 'lieu/VIP.html.twig' %} #}
    </section>
{% endblock %}
