<p>Bonjour,</p>
<p>Merci de vous être inscrit sur notre site.</p>
<p>Veuillez confirmer votre compte en cliquant sur le lien suivant :</p>
<a href="{{ url('app_register') }}">Confirmer mon compte</a>
