
<h1>Bienvenue sur Bon Tourisme!</h1>

<p>
    Merci de vous être inscrit. Veuillez confirmer votre adresse e-mail en cliquant sur le lien ci-dessous :
</p>

<p>
    <a href="{{ signedUrl }}">Confirmer mon adresse e-mail</a>
</p>

<p>
    Si vous n'avez pas créé de compte, ignorez simplement cet e-mail.
</p>
