.swiper-slide {
  cursor: pointer; /* Permet de voir que la slide est cliquable */
}

.swiper-button-next,
.swiper-button-prev {
  color: #763538 !important; /* Adapte à ton design */
}

.swiper-pagination {
  bottom: 10px;
  text-align: center;
}

#active-slide-panel {
  max-width: 800px;
  margin: auto;
}
